@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.header-container{
    display:flex;
    background-color: #4B22F4; 
    color: white; 
    font-size: 14px;          
    font-family: "Inter", sans-serif;
    width: 90%;
    margin:0px;
    border: none;
    align-items: center; /* Alinea verticalmente el título y la búsqueda (opcional) */
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between; 
   

    
}

.header-logo{
    font-weight: 500; /* Título en negrita */
    font-size: 20px; 
    cursor:pointer;

}

.header-button{
    cursor:pointer;
    margin-left: 20px; /* Ajusta este valor para reducir el espacio a la izquierda */
    margin-right: 20px; 
}

.botones{
    display:flex;
    margin-right: 20px;
}

