/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/videojuego/styles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans&display=swap');
body{
  font-family: "Jersey 15", sans-serif;
}
  
  .button-container {
    position: absolute;
    top: 20px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .message-container {
    position: absolute;
    top: 40px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    color: rgb(62, 50, 1);
    background-image: url(/_next/static/media/Carved_9Slides.6781328b.png);  /* Fondo semitransparente */
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    font-size: 35px;
    font-family: "Jersey 15", sans-serif;
    font-weight:400;
    
  }

  p {
    line-height: 0.3; /* Ajusta el interlineado (1.2 = 120% de la altura de la fuente) */
}

img {
  position: absolute;
  top: 40px; /* Ajusta la posición según sea necesario */
  left: 50%;
  transform: translateX(-50%); /* Centrar horizontalmente */
}

 
  

  .Bcontainer{
    position:relative;
  }
