/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/videojuego/styles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/

  
  .button-container {
    position: absolute;
    top: 20px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .message-container {
    position: absolute;
    top: 40px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
 
  

  .Bcontainer{
    position:relative;
  }
