/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/menu/styles.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #6F4EF6;
    
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional, si quieres centrar todo el contenedor) */
    width: 100vw;
    height: 100vh;
    position: absolute; /* Asegura que se superponga al canvas */
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif; /* Fuente */
    color: white; /* Establece el color de la fuente a blanco */
    font-weight:300;
    font-size:16px;
    gap: 35px;
}

.MButtonsContainer {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 60px; /* Espacio entre los botones (ajusta según necesites) */
  }
  

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional, si quieres centrar todo el contenedor) */
    position: relative; /* Asegura que se superponga al canvas */
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif; /* Fuente */
    color: white; /* Establece el color de la fuente a blanco */
    font-weight:300;
    font-size:16px;
    
  }
  




  .descripcion {
    display: flex; /* Asegura que .descripcion sea un contenedor flex */
    flex-direction: column;
    justify-content: center; /* Opcional: centra los elementos horizontalmente */
    gap: 15px; /* Ajusta el valor según el espaciado deseado */
    font-size: 16px;
    text-align: center;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/saludo/saludo.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.saludo{
    font-family: "Roboto", sans-serif; /* Fuente */
    color: white; /* Establece el color de la fuente a blanco */
    font-weight:300;
    font-size:20px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/menuButton/menubutton.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.menu-button {
    display: flex;
    flex-direction: column; /* Coloca la imagen y el texto en columna */
    align-items: center; /* Centra la imagen y el texto horizontalmente */
    justify-content: center; /* Centra la imagen y el texto verticalmente */
    width: 180px; /* Ajusta el ancho del botón */
    height: 180px; /* Ajusta la altura del botón */
    border-radius: 50%; /* Hace que el botón sea un círculo */
    border: none;
    background-color: white; /* Botón blanco */
    cursor: pointer;
    padding: 10px; /* Agrega un pequeño padding para el contenido */
  }
  
  .menu-button:hover {
    transform: scale(1.1); /* Hace que el botón sea un poco más grande al hacer hover */
    box-shadow: 0 4px 8px rgba(12, 10, 10, 0.2); /* Agrega una sombra sutil */
   }

  .button-image {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: 80px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 5px; /* Espacio entre la imagen y el texto */
    
  }
  


